* {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}
:root {
	--bg: ivory;
	--mobile: 320px;
	--tablet: 820px;
	--desktop: 1920px;
	--fs: 45%;
}
html {
	font-size: var(--fs);
}
svg {
	width: 100%;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
body {
	font-size: 1.6rem;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	line-height: 1.75;
	background-color: var(--bg);
}
.container {
	width: min(120rem, 100% - 4vw);
	margin-inline: auto;
	padding-block: 2vw;
	cursor: pointer;
	min-height: 110vh;
}

.accordion__title {
	font-size: 5rem;
	font-weight: bold;
}
.accordion__item {
	display: flex;
	flex-direction: column;
	border-top: 1px solid rgba(128, 128, 128, 0.2);
	padding-bottom: 2rem;
	gap: 1rem;
}
.accordion__item-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2.2rem;
	font-weight: bold;
	color: #1e40af;
	transition: color 0.3s;
	cursor: pointer;
	padding-block: 2rem;
}
.accordion__item-text span {
	width: 3rem;
	aspect-ratio: 1;
	display: flex;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
}
.accordion__item-image {
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	aspect-ratio: 1;
	background-color: cadetblue;
	width: min(50rem, 100% - 10vw);
	margin: 0 auto;
	text-align: center;
	padding: 0;
	background-color: gray;
	height: 0;
	overflow: hidden;
	transition: height 0.3s, padding 0s 0s, transform 0s 0s;
	transform: scale(0);
}
.accordion__item:nth-child(1) .accordion__item-image {
	background-image: url(../image/png1.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: bottom 10px center;
}
.accordion__item:nth-child(2) .accordion__item-image {
	background-image: url(../image/png4.png);
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: bottom 10px center;
}
.accordion__item:nth-child(3) .accordion__item-image {
	background-image: url(../image/png5.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom -20px center;
}
.accordion__item:nth-child(4) .accordion__item-image {
	background-image: url(../image/png2.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: bottom 10px center;
}
.accordion__item:nth-child(5) .accordion__item-image {
	background-image: url(../image/png3.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom center;
}
.accordion__item-image span {
	font-size: 4rem;
	line-height: 1;
	color: white;
	text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25), -2px -3px 6px rgba(0, 0, 0, 0.25), 2px -3px 6px rgba(0, 0, 0, 0.25),
		-2px 3px 6px rgba(0, 0, 0, 0.25);
}
.accordion__item > input {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.container:hover .accordion__item-text {
	color: black;
}
.accordion__item-text:hover {
	background-color: rgba(0, 0, 0, 0.025);
}
.accordion__item:hover span {
	transform: rotate(45deg);
}
.container:hover .accordion__item-text span {
	visibility: visible;
	opacity: 1;
}
.accordion__item:hover .accordion__item-image {
	transition: height 0.3s, padding 0.1s, transform 0.2s 0.3s;
	height: 50rem;
	padding: 1.5rem;
	transform: scale(1);
}
.accordion__item > input:checked ~ .accordion__item-text {
	color: black;
}
.accordion__item > input:checked ~ .accordion__item-text span {
	transform: rotate(45deg);
}
.accordion__item > input:checked ~ .accordion__item-image {
	transition: height 0.3s, padding 0.1s, transform 0.2s 0.3s;
	height: 50rem;
	padding: 1.5rem;
	transform: scale(1);
}
@media screen and (min-width: 820px) {
	:root {
		--fs: 55%;
	}
}
@media screen and (min-width: 1920px) {
	:root {
		--fs: 62%;
	}
}
